/* Estilo aplicado sobre el body */
body{
    background-color: #bfb6ec50; /* aplicamos color al fondo */
}

/* estilo aplicado sobre el contenido del div que engloba Nav y Header */
.header{
    background-color: transparent; /* cambiamos el color del fondo */
    position: sticky; /* hacemos que el contenido esté fijo en la parte de arriba de la pantalla a pesar del scroll*/
    top: 0px; /* le indicamos que guarde un margen con respecto a la parte superior de la pantalla de 0% */
    z-index: 1; /* cambiamos la profundidad, indicamos que el elemento se muestre encima de los demas */
}

.header-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* estilo aplicado sobre el logotipo */
.logo{
    width: 5%; /* hacemos que el ancho del contenido sea un 15% con respecto a la pantalla*/
    height: 5%; /* hacemos que el alto del contenido sea un 15% con respecto a la pantalla*/
    margin-bottom: -4px;
}

/* Estilo aplicado sobre el Nav */
nav{
    float: left; /* hacemos que el nav se hubique a la izquierda por defecto*/
    margin-left: 30%; /* aplicamos un margen desde la izquierda de un 30% con respecto a la pamtalla*/    
}

/* Estilo aplicado sobre las li de la lista del nav */
nav ul li{
    list-style: none; /* quitamos el estilo por defecto a la lista */
    display: inline-flex; /* hacemos que el contenido de la lista se despliegue de forma horizontal*/
    font-size: 150%; /* hacemos que el tamaño del texto sea un 150% más grande*/
    border: solid; /* añadimos un borde sólido */
    border-radius: 2px; /* añadimos un redondeo de 2 pixeles*/
    padding-right: 50px; /* añadimos un padding desde la derecha de 50 pixeles*/
    padding-left: 50px; /* añadimos un padding desde la izquierda de 50 pixeles*/
    font-weight: bold; /* hacemos que el texto se muestre con negrita */
    transition-duration: 0.5s; /* hacemos que la transicion al estado del estilo aplicado anteriormente dure medio segundo */
}

/* dividimos el aside y el section en dos columnas*/
.flexbox{
    display: flex;
    width: 100%;
}

/* estilo aplicado sobre el article */
article{
    padding-bottom: 7%; /* añadimos un padding desde abajo de 7% con respecto al tamaño de pantalla*/
}

.flexbox-article{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
}
/* fin de dividimos el aside y el section en dos columnas*/

/* estilo aplicado sobre el contenido del div con la clase content */
.content{
    display: flex;
    justify-content: center;
}

/* Estilo aplicado sobre el iframe del aside */
#iframeNFT{
    overflow: scroll;
    margin-left: -120%;
    margin-top: 10%;
    width: 212%;
    height: 79%;
}

/* estilo aplicado sobre el footer */
footer{
    background-color: transparent; /* añadimos color al fondo */
    position: fixed; /* le indicamos que se situe siempre abajo en la pantalla */
    bottom: 0%; /* le indicamos que guarde un margen con respecto abajo de la pantalla de 0% */
    left: 0%; /* le indicamos que guarde un margen con respecto a la izquierda de la pantalla de 0% */
    right: 0%; /* le indicamos que guarde un margen con respecto a la derecha de la pantalla de 0% */
}

/* estilo aplicado sobre el contenido de la lista del footer */
footer ul li{
    list-style: none; /* quitamos el estilo por defecto a la lista */
    display: inline-flex; /* hacemos que el contenido de la lista se despliegue de forma horizontal*/
    border: solid; /* añadimos un borde sólido */
    border-radius: 2px; /* añadimos un redondeo de 2 pixeles*/
    padding-right: 50px; /* añadimos un padding desde la derecha de 50 pixeles*/
    padding-left: 50px; /* añadimos un padding desde la izquierda de 50 pixeles*/
    font-weight: bold; /* hacemos que el texto se muestre con negrita */
    transition-duration: 0.5s; /* hacemos que la transicion al estado del estilo aplicado anteriormente dure medio segundo */
}
/* Estilo aplicado sobre el contenido de la lista del footer */
/* y sobre el contenido de la lista cuando pasa el ratón por encima */
footer ul li:hover, nav ul li:hover{
    background-color: #8073c550; /* añadimos color al fondo */
    transition-duration: 0.5s; /* hacemos que la transicion al estado del estilo aplicado anteriormente dure medio segundo */
}

/* estilo aplicado sobre la lista del footer */
footer ul{
    padding-right: 50px; /* añadimos un padding desde la derecha de 50% ocn respecto al tamaño de la pantalla */
}

/* estilo aplicado sobre el parrafo del footer */
footer p{
    text-align: center; /* alineamos el texto al centro */
}

/* estilo aplicado cuando los links están activos, visitados y cuando existen sin más (a:link) */
a:link, a:visited, a:active {
    color: black; /* cambiamos el color del texto */
    text-decoration: none; /* quitamos toda la decoracion del texto que viene por defecto*/
}